<div style="margin-bottom: 50px">
  <table border=1 width=100%>
    <tr>
        <td><h1>時間割サービス</h1></td>
        <td align="center" valgin="center"><h2>新規登録</h2></td>
        <td align="center" valgin="center"><h2>ログイン<h2></td>
        </tr>
    </table>
</div>

<table border=1 width=100%>
    <tr>
       <td colspan="2" align="center"> <font size="4">いつでもどこでも手軽に時間割確認</font></td>
    </tr>
    <tr>
    <td>あ</td>
    <td>い</td>
    </tr>
    <tr>
    <td width=50%>う</td>
    <td>え</td>
    </tr>
</table>
