<div style="margin-bottom: 50px">
  <table border=1 width=100%>
    <tr>
        <td><h1>時間割サービス</h1></td>
        <td align="center" valgin="center"><h2><%= link_to '新規登録', 'users/new'%></h2></td>
        <td align="center" valgin="center"><h2><%= link_to 'ログイン', login_path%><h2></td>
        </tr>
    </table>
</div>

<table border=1 width=100%>
    <tr>
       <td colspan="2" align="center"> <font size="4">いつでもどこでも手軽に時間割確認</font></td>
    </tr>
    <tr>
    <td width='50%' align="center"><%= image_tag 'timetable_sample.png', style: 'height:auto;width:45%;' %></td>
    <td align="center"><p><b>時間割の未来へようこそ</b></p><p>時間割は常にオンラインに保存され、どこでも確認することができます。</td>
    </tr>
    <tr>
    <td align="center">時間割の登録は24時間、インターネットからいつでも更新できます。</td>
    <td align="center"><%= image_tag 'subject_edit.png', style: 'height:auto;width:45%;' %></td>
    </tr>
</table>
